// font-size统一设置为11px

bg = #3d3d4a
trackWidth = 25em  // 11 * 25 = 275
trackheight = .02 * trackWidth // 0.02 * 275 = 5.5
thumbDiameter = .1 * trackWidth   // 0.1 * 275 = 27.5
scaleThumbDiameter = .3 * trackWidth
chartWidth = 100% - 2 * .1 * 100% // 275 - 0.2 * 275 = 220
shadePosition = 39%

track()
  border none
  width trackWidth // 275
  height trackheight // 5.5
  border-radius .5 * trackheight // 2.75
  background #343440

thumb()
  border none
  width thumbDiameter
  height thumbDiameter
  border-radius 50%
  background #e6323e
  transform none

thumbEnlarge()
  transform scale(1.2)

*
  margin 0

body
  background bg


/*
 * 去除range系统默认样式
 */
input[type='range']
  // 去除滑动条默认样式
  -webkit-appearance none
  background transparent  // 透明色
  outline none // 去掉外边框
  font-size 11px

  // 去除滑块默认样式，基于webkit的浏览器，如Chrome、Safari、Opera等
  &::-webkit-slider-thumb
    -webkit-appearance none



/*
 * 自定义range样式
 */
input[type='range']
  width trackWidth
  height thumbDiameter

  &::-webkit-slider-runnable-track
    track()

  &::-webkit-slider-thumb
    thumb()
    margin-top -(thumbDiameter - trackheight) * 0.5

output
  display flex
  align-items center
  justify-content center
  color #fff
  // transform translate((calc(var(--val) / 100 * (trackWidth - thumbDiameter)), 0))
  // var() 实验中的功能，参考：https://developer.mozilla.org/zh-CN/docs/Web/CSS/var
  // 在 chrome://flags 启用 Experimental Web Platform Features 标志
  // font-size var(--val)
  // 原点辐射渐变（背景遮罩层） + 圆锥渐变
  background-image radial-gradient(bg shadePosition, transparent shadePosition + .5%), conic-gradient(#e64c65 calc(var(--val)*1%), #41a8ab 0%)


  // 伪类添加content
  &:after
    content '%'

/*
 * 布局样式优化
 */
.wrap
  position relative
  margin 2em auto
  width trackWidth
  height trackWidth
  font-size 11px  // 统一字体大小


  /*
   * 不支持conic-gradient情况
   */
  &:not(.support-conic-gradient)

    output
      position absolute
      top 0
      width thumbDiameter
      height thumbDiameter
      pointer-events none

  /*
   * 支持conic-gradient情况
   */
.wrap

  &.support-conic-gradient

    output
      width chartWidth
      height chartWidth
      border-radius 50%
      color #7a7a7a
      font-size 4.25em
      font-weight 700

      &:before
        position absolute
        right 0
        bottom 0
        display flex
        align-items center
        justify-content center
        width thumbDiameter
        height thumbDiameter
        counter-reset val var(--val)
        content counter(val)'%'  // content 只接收字符串的值
        // 除了指示该元素不是鼠标事件的目标之外，值none表示鼠标事件“穿透”该元素并且指定该元素“下面”的任何东西。https://developer.mozilla.org/zh-CN/docs/Web/CSS/pointer-events
        pointer-events none
        font-size 11px
        color #fff
        opacity 0

    input[type='range']
      transform-origin 100% 0 // 改变元素变形的原点，在右边开始变形
      transform rotate(-90deg) translateY(-100%)  // 旋转了自身的坐标系，x轴向上，y轴向右。沿y轴的负方向平移自身高度的距离

      &:focus

        &::-webkit-slider-thumb
          thumbEnlarge()

      // 聚焦样式
      // 相邻兄弟选择器
      &:focus + output:before
        opacity 1







